body {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d5e1ef;
  min-height: 100vh;
}

.lg-img-box {
  height: 60vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #333446;
}

.sm-img-box {
  height: 60vh;
  width: 60vh;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: auto;
}

.lg-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
  margin: auto;
  box-sizing: border-box;
}

.sm-img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  padding: 0.2em;
  box-sizing: border-box;
}

.sm-img:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.myfade {
  animation: animation 500ms forwards;
}

.selected {
  /* border: 0.2em solid darkblue; */
  border-radius: 1.5em;
}

@media (max-width: 600px) {
  .container {
    display: block;
  }
  /* .jumbo, */
  .thumbnail {
    width: 100%;
    margin: auto;
  }
  .thumbnail {
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: auto;
  }
}

@media (max-width: 900px) {
  .thumb {
    width: 50%;
  }
}
